.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(96, 21, 165);
}
.note
{
    font-size: 15px;
    color: black;
}
.copyright_footer
{
    position: fixed;
    color: rgb(0, 0, 0);
    bottom: 0;
    width: 100%;
    background-color: pink;
    line-height: 3;
    text-align: center;
}
canvas
{
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(96, 21, 165);
}